<!-- Lists all the details of the vendor passed in a card format -->
<!-- Dont include any scripts here as this view is generally looped -->

<div class="panel panel-default myvendor_panel" data-accnum='<%= vendor.number %>'>
  <div class="panel-heading">
	<label class='vendor_toggle'><input type="radio" name='vendor_accounts[]' value='<%= vendor.number %>' /> <%= vendor.name %></label>
  	<button type="button" class="btn btn-link btn-xs pull-right show_invoice">show invoices</button>
  	<div class="clearfix"></div>
  </div>
  <div class="panel-body">
	<table class='table table-responsive table-condensed table-striped' style='margin-bottom: 0'>
		<!-- <thead>
			<tr>
				<th>Acc Name</th>
				<th><%= vendor.name %></th>
			</tr>
		</thead> -->
		<tbody>
			<tr>
			  <td>Account Name</td>
			  <td><%= vendor.acc_name %></td>
			</tr>
			<tr>
			  <td>Account Number</td>
			  <td class='vendor_acc_number'><%= vendor.number %></td>
			</tr>
			<tr>
			  <td>Pending Amount</td>
			  <td><%= vendor.pending_amount_display %></td>
			</tr>
		</tbody>
	</table>
  </div>
  <% if show_amount_box %>
  <div class="panel-footer">
  	<div class="form-group" title="Amount to this account" style="margin-bottom: 0">
	  <input type="text" class="form-control vendor_amount" name="vendor_amts[<%= vendor.number %>]"
	  		value='<%= params[:vendor_amts][vendor.number] if params[:vendor_amts] %>' 
	  		placeholder="Amount to this account" disabled>
	</div>
  </div>
  <% end %>
</div>