
<script type="text/javascript">

  $(function() {
    $(".payments .datepicker").datepicker("destroy").datepicker({ minDate: new Date() });
    $(".payments input[type=text]").attr({autocomplete: "off"});

    /*
    // Unused as using a checkbox for enabling / disabling the Accounts
    var available_accounts = <%= # raw @accounts.map { |a| a.number }.to_json 
    %>;
    attach_multi_autocomplete(available_accounts, "div.myaccounts_panel", ".my_accounts", ".acc_number", "input.account_amt");

    var available_vendor_accounts = <%= # raw @vendors.map { |a| a.number }.to_json 
    %>;
    attach_multi_autocomplete(available_vendor_accounts, "div.myvendor_panel", ".my_vendors", ".vendor_acc_number", "input.vendor_amount");
    */
    
    $(".payments input.account_amt").bind('keyup change', fill_total_amount);

    function fill_total_amount() {
      var total = 0, amt;
      $(".payments input.account_amt:enabled").each(function(index, textbox) {
        amt = parseInt($(textbox).val());
        if(isNaN(amt))
          amt = 0;
        total += amt;
      });
      $(".payments #payment_amount").val(total);
    }    
    
    // Unused as dropdown is no longer shown, instead checkboxes are used for selecting the accounts
    function attach_multi_autocomplete(tags, panel_selector, textbox_selector, acc_number_row_selector, input_amount_selector) {
      $(".payments " + textbox_selector)
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({ 
        source: function( request, response ) {
            // delegate back to autocomplete, but extract the last term
            response( $.ui.autocomplete.filter(
              tags, extractLast( request.term ) ) );
          },
          focus: function() {
            // prevent value inserted on focus
            return false;
          },
          select: function( event, ui ) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push( "" );
            this.value = terms.join( ", " );

            var selected_panels = highlight_the_selected_panels(event);
            enable_amount_field(selected_panels);

            return false;
          }
      });

      // Highlights the selected panels and returns their references
      function highlight_the_selected_panels(event) {
        var selected_panels = [];
        var numbers = event.target.value.split(",");
        $('.payments').find(panel_selector).removeClass('panel-success');
        $(numbers).each(function(index, value) {
          value = value.trim();
          $(".payments " + acc_number_row_selector).each(function() {
            if(value == $(this).text().trim()) {
              var panel = $(this).closest('div.panel');
              $(panel).children("div.panel-body").show(animation_time);
              selected_panels.push(panel);
              $(panel).addClass('panel-success');
            }
          });
        });
        return selected_panels;
      }

      // enables the amount fields for the passed panels
      function enable_amount_field(panels) {
        $(input_amount_selector).attr({disabled: true});
        $(panels).each(function(index, panel) {
          $(panel).find(input_amount_selector).attr({disabled: false});
        });
      }

      function split( val ) {
        return val.split( /,\s*/ );
      }
      
      function extractLast( term ) {
        return split( term ).pop();
      }
    }

    $(".payments .vendor_toggle input[type=radio]").on('click' , function (event) {
      event.stopPropagation();
      var disable_amt = !$(this).prop('checked');
      $('div.myvendor_panel').removeClass('panel-success').find('input.vendor_amount').attr('disabled', true).val(""); // disable all inputs
      if(disable_amt)
        $(this).closest('div.myvendor_panel').removeClass('panel-success').find('input.vendor_amount').attr('disabled', disable_amt);
      else
        $(this).closest('div.myvendor_panel').addClass('panel-success').find('input.vendor_amount').attr('disabled', disable_amt);
    });

    $(".payments .acc_toggle input[type=checkbox]").on('click' , function (event) {
      event.stopPropagation();
      var disable_amt = !$(this).prop('checked');

      if(disable_amt)
        $(this).closest('div.myaccounts_panel').removeClass('panel-success').find('input.account_amt').attr('disabled', disable_amt).val('').trigger('change');
      else
        $(this).closest('div.myaccounts_panel').addClass('panel-success').find('input.account_amt').attr('disabled', disable_amt);
    });

    var animation_time = 300; // milliseconds
    // $(".payments #expand").click(function() {
    //   $(".payments div.myaccounts_panel").children("div.panel-body").show(animation_time);
    //   $(".payments div.myvendor_panel").children("div.panel-body").show(animation_time);
    // });

    // $(".payments #collapse").click(function() {
    //   $(".payments div.myaccounts_panel").children("div.panel-body").hide(animation_time);
    //   $(".payments div.myvendor_panel").children("div.panel-body").hide(animation_time);
    // });

    // Commented this as the checkbox (a child of this) click is also triggering the below event
    // $(".payments div.panel-heading").click(function() {
    //   $(this).siblings("div.panel-body").toggle(animation_time);
    // });

    $(".payments button.show_invoice").click(function(event) {
      event.stopPropagation();
      var data = $(this).closest("div.myvendor_panel").attr('data-accnum').trim();
      $.ajax({
        url: '/vendors/payments',
        data: {acc_numbers: [data]},
        success: function(data) {
          set_and_show_modal('Invoices', data, 'Retrieved invoices of the vendor', 'success')
        },
        error: function(data) {
          showNotice('Oouch! Something wrong happened. We will work on it.', 'danger');
        }
      })
    });

    $(".payments button.post_dated").click(function(event) {
      event.stopPropagation();
      var data = $(this).attr('data-accnum').trim();
      $.ajax({
        url: '/accounts/post_dated',
        data: {acc_numbers: [data]},
        success: function(data) {
          set_and_show_modal('Post Dated Cheques', data, 'Retrieved post dated cheques', 'success')
        },
        error: function(data) {
          showNotice('Oouch! Something wrong happened. We will work on it.', 'danger');
        }
      })
    });

    function set_and_show_modal(title, body, notice, notice_type) {
      $(".payments #payments_modal .modal-title").text(title);
      $(".payments #payments_modal .modal-body").html(body);
      $('.payments #payments_modal').modal()
      showNotice(notice, notice_type);
    }
  });

</script>

<div class="payments">
  <%= form_for(@payment) do |f| %>
    <!-- <button type="button" class="btn btn-link" id="collapse">Collapse All</button>
    <button type="button" class="btn btn-link" id="expand">Expand All</button> -->

    <table class='table table-responsive'>
      <thead>
        <tr>
          <th style="text-align: center;">My Accounts</th>
          <th></th>
          <th style="text-align: center;">My Vendors</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width: 33%">
          <!-- Accounts -->
          <% @accounts.each do |account| %>
            <%= render partial: "accounts/account_card", locals: {account: account, show_amount_box: true} %>
          <% end %>
        </td>

        <td style="width: 33%">
          <!-- Buttons -->
          <!-- <div class="form-group">
            <%= f.label :acc_number, 'Your Account Number(s)' %><br />
            <%= f.text_field :acc_number, :class => 'my_accounts form-control', :autofocus => true %>
          </div>
          <div class="form-group">
            <%= f.label :vendor_acc_number, 'Vendor Account Number(s)' %><br />
            <%= f.text_field :vendor_acc_number, :class => 'my_vendors form-control' %>
          </div> -->
          <div class="form-group">
            <%= f.label :amount %> <small><em>(Use the selected account(s) to autofill this)</em></small><br />
            <%= f.text_field :amount, :class => 'form-control', :readonly => true %>
          </div>
          <div class="form-group">
            <%= f.label :payment_date %><br />
            <%= f.text_field :payment_date, :class => 'datepicker form-control' %>
          </div>
          <div class="actions" style='text-align: center;'>
            <%= f.submit 'Pay', :class => 'btn btn-primary', :style => 'width: 30%' %>
          </div>
        </td>

        <td style="width: 33%">
          <!-- Vendors -->
          <% @vendors.each do |vendor| %>
            <%= render partial: "vendors/vendor_card", locals: {vendor: vendor, show_amount_box: true} %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <div class="vendor_invoices" name='vendor_invoices'></div>
  <!-- Button trigger modal -->
  <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="payments_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id='payments_modal_title'>Invoices</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

